#vbox {
    -fx-padding: 40px;
    -fx-spacing: 15;
    -fx-background-color: rgba(121, 124, 186);
}

.button{
    -fx-background-color: #45ce38;
    -fx-background-image: url("/img/plus-sign.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 28px 28px;
    -fx-background-position: 90% 50%;
    -fx-font-size: 16pt;
    -fx-font-weight: 700;
    -fx-font-family: Arial, Helvetica, sans-serif;
    -fx-text-fill: #fafafa;
    -fx-padding: 15px 35px;
    -fx-pref-width: 350px;
    -fx-cursor: hand;
}