#vbox {
    -fx-padding: 40px;
    -fx-spacing: 15;
    -fx-background-color: rgba(121, 124, 186);
    -fx-pref-height: 900px;
}

#empty-vbox {
    -fx-padding: 40px;
    -fx-spacing: 15;
    -fx-background-color: rgba(121, 124, 186);
    -fx-pref-height: 900px;
}

#hbox {
    -fx-background-color: white;
    -fx-pref-width: 1160px;
    -fx-pref-height: 1px;
}

.button{
    -fx-background-color: #45ce38;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 28px 28px;
    -fx-background-position: 90% 50%;
    -fx-font-size: 16pt;
    -fx-font-weight: 700;
    -fx-font-family: Arial, Helvetica, sans-serif;
    -fx-text-fill: #fafafa;
    -fx-padding: 15px 35px;
    -fx-pref-width: 400px;
    -fx-cursor: hand;
}

.combo-box{
    -fx-background-color: #45ce38;
    -fx-background-image: url("/img/plus-sign.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 28px 28px;
    -fx-background-position: 90% 50%;
    -fx-font-size: 16pt;
    -fx-font-weight: 700;
    -fx-font-family: Arial, Helvetica, sans-serif;
    -fx-text-fill: #fafafa;
    -fx-padding: 7px 20px;
    -fx-pref-width: 400px;
    -fx-cursor: hand;
}

.label{
    -fx-background-size: 28px 28px;
    -fx-background-position: 90% 50%;
    -fx-font-size: 16pt;
    -fx-font-weight: 700;
}

.text-field{
    -fx-pref-width: 60px;
    -fx-pref-height: 10px;
}

.combo-box .arrow, .combo-box .arrow-button{
    -fx-background-color: transparent;
}

.combo-box .list-cell{
    -fx-background: #45ce38;
    -fx-background-color: #45ce38;
    -fx-text-fill: #fafafa;
    -fx-padding: 7px 0;
}

.combo-box .list-view{
    -fx-background-color: #45ce38;
    -fx-font-size: 16pt;
    -fx-font-weight: 700;
    -fx-font-family: Arial, Helvetica, sans-serif;
    -fx-text-fill: #fafafa;
    -fx-padding: 7px 20px;
    -fx-pref-width: 400px;
}

